body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 27);
    width: 100%;
  }
  
  header {
    text-align: center;
    color: white;
    background-color: rgb(26, 26, 27);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 5px 15px rgba(65, 102, 249, 0.3);
  }
  
  h1 {
    margin: 0;
  }
  
  .movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    background-color: rgb(26, 26, 27);
    padding: 3px;
  }
  
  .movie-card img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow: 2px 5px 15px rgba(65, 102, 249, 0.3);
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .movie-card img:hover {
    transform: scale(1.1);
  }
  
  .search-control {
    display: flex;
    gap: 5px;
    width: 100%;
    margin: 10px auto;
    max-width: 400px;
  }
  
  .search-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(65, 102, 249);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: rgb(45, 82, 229);
  }
  
  .search-control > input {
    flex-grow: 100;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .load-more-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(26, 26, 27);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    max-width: 200px;
  }
  
  .load-more-btn:hover {
    background-color: rgb(45, 45, 45);
  }
  
  .popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    background-color: #020202;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 9999;
  }
  
  .popup-container .movie-card{
    display: block;
    position: relative;
    bottom: 100%;
    transform: translate(-50%);

  }
  .popup-container .movie-description-element {
    margin-bottom: 10px;
  }
  
  .popup-container .exit-button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    header {
      font-size: 18px;
    }
  }
  